body, html {
    background-color:#fdfcfa;
}

.header {
    font-family: 'Montserrat', sans-serif;
    font-weight:  500;
    letter-spacing: 2px;
    text-align: center;
    color: #922653;  
    /* margin-bottom: 5px; */
    /* margin-top: 10px; */
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 4px;  
    float: right;

}

.footer a,
.header a {
    float: left;
    color: #922653;    
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
}

.header a:hover,
.footer a:hover {
    background-color: #ffcbe1;
    color: black;
    border-radius: 4px;
}

.header a.active,
.footer a.active {
    background-color: #922653;
    color: white;
    border-radius: 4px;
}

.footer {
    overflow: hidden;
    background-color: #B86B77;
    margin-bottom: 15px;
    margin-top: 95px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 4px;
}

h1 {
        font-size: 30px;
        color: #D4437F;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        text-transform: uppercase;
    }

p {
        font-family: 'Montserrat', sans-serif;
        font-size: 21px;
        color: #000;
        text-align: center;
        line-height: 1.5;
        margin: 0 0 0 35px;
    }


    img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
        position: center;
        border-radius: 5%;
    }
    
    
div.contact-form {
    display: block;
    text-align: center;
}

form {
    display: inline-block;
    text-align: left;
    margin: auto;
    width: 30%;
    padding: 5em;
    border: 1px solid #FFBC94;
    border-radius: 1em;
}

input,
textarea {
    font: 1em sans-serif;
    width: 390px;
    text-align: justify;
    box-sizing: border-box;
    border: 1px solid #E8A187;
    border-radius: 2.5px;
}

input,
label {
    display: block;
}

.form-group,
.form-control {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 25px;
}

.form-control,
.form-group {
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    font-size: 20px;
    color: #B86B77;
}

.btn-send {
    color: #B86B77;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #922653;
    color: white;
    cursor: pointer;
    font-size: 30px;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #922653;
    color: white;
    cursor: pointer;
  }
  .fa-instagram {
    background: #922653;
    color: white;
    cursor: pointer;
  }
  .fa-linkedin {
    background: #922653;
    color: white;
    cursor: pointer;
  }



/* .site-footer
{
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
} */
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
/* .site-footer a
{
  color:#737373;
} */
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#D4437F
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#D4437F;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#D4437F;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}